body,
h1,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.125rem;
  line-height: 1.6;
  word-wrap: break-word;
}
.navbar {
  background-color: #071c2e;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
}
.logo {
  width: 150px;
}
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
.Subscribe {
  margin-left: 60%;
  background-color: #c94a0b;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.nav-links li {
  margin-right: 20px;
  text-align: left;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.content-column {
  width: 40vw;
  margin: 0 10px;
  float: left;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 800px;
  margin-left: 50px;
}
.card {
  float: right;
  border: 1px solid #ccc;
  max-width: 400px;
  text-align: left;
}
.card img {
  width: 100%;
  height: auto;
  max-width: 236px;
  max-height: 286px;
  overflow: hidden;
}
.text-card {
  margin-bottom: 20px;
}
.media {
  text-align: center;
}
.content {
  text-align: center;
  margin-bottom: 20px;
}
.See {
  background-color: white;
  color: rgb(43, 135, 255);
  border-radius: 10px;
  height: 40px;
  width: 200px;
  border: solid 1px #ccc;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.content-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image-box img {
  width: 12vw;
  height: 15vw;
}

.breadcrumb,
.alternate-titles,
.last-update {
  margin: 20px 0;
  margin-left: 50px;
}

.buttons {
  background-color: white;
  color: #194061;
  border: solid 1px #ccc;
  border-radius: 5px;
  width: auto;
  height: auto;
  font-size: 16px;
}

.hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 30%;
  margin: 0 auto;
}
h1 {
  font-size: 48px;
}
h3 {
  font-size: 26px;
}
.alternate-titles {
  color: gray;
  font-size: 14px;
  font-style: oblique;
}
.last-update {
  color: gray;
  font-size: 14px;
  font-style: oblique;
}
